<%- include header %>

<form method="post" action="/edit/<%= post.name %>/<%= post.time.day%>/<%= post.title %>">
	标题:<br/>
	<input type="text" name="title" value="<%= post.title %>" disabled="disabled"/>
	标签：<br />
	<% if(post.tags[0]){%>
    <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled" />
    <% } if(post.tags[1]){ %>
    <input type="text" name="tag2" value="<%= post.tags[1] %>" disabled="disabled" />
    <% } if(post.tags[2]){ %>
    <input type="text" name="tag3" value="<%= post.tags[2] %>" disabled="disabled" /><br />
    <% } %>
	正文:<br/>
	<textarea name="post" id="pagedownMe" class="form-control" rows="10" cols="100"><%= post.post %></textarea><br />
	<input type="submit" value="保存修改"/>
</form>

<%- include footer%>
<script>
	$("textarea#pagedownMe").pagedownBootstrap({
		'sanatize': false,
		'help': function () { alert("Do you need help?"); }
	});
</script>